.clickable {
    cursor: pointer;

    &:hover {
        opacity: 0.6;
    }
}
.glyphicon {
    color: #cccccc;
    font-size: 20px;
}
.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
    opacity: 0.7;
    

    &:before {
        content:  url(assets/loader.gif);
        display: block;        
        text-align: center;
        position: relative;
        margin: 10% auto;
    }
}
.alert-success {
    margin: 6px 0 0  0;
}
.match {
    color: #00915C;
}
.t-row {
    padding: 10px 0 30px 0;
}
.bg-row {
    background: #EFEFEF;
}
.t-header {
    background: #C2C2C2;
    font-weight: bold;
}



